name: Static Analysis

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  phpstan:
    runs-on: ubuntu-latest

    name: PHPStan

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: dom, curl, libxml, mbstring, zip
          coverage: none

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction --no-progress

      - name: Install PHPStan
        run: composer require --dev phpstan/phpstan phpstan/extension-installer phpstan/phpstan-deprecation-rules --no-interaction

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse src --level=5
        continue-on-error: true
